<po-page-edit
  [p-breadcrumb]="breadCrumb"
  [p-disable-submit]="!this.formulario.valid"
  (p-save)="onSubmit()"
  p-title="{{ getTitle() }}"
>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="po-row">
      <po-input
        class="po-md-4"
        formControlName="codigo"
        p-clean
        p-label="Código"
      ></po-input>
    </div>

    <div class="po-row">
      <po-input
        class="po-md-4"
        formControlName="titulo"
        p-clean
        p-label="Título"
      ></po-input>
    </div>

    <div class="po-row">
      <po-input
        class="po-md-4"
        formControlName="data"
        p-clean
        p-label="Data"
      ></po-input>
    </div>

    <div class="po-row">
      <po-select
        class="po-md-4"
        formControlName="prioridade"
        p-label="Prioridade"
        p-clean
        [p-options]="prioridadeSelectOptions"
      >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </po-select>
    </div>

    <div class="po-row">
      <po-input
        class="po-md-12"
        formControlName="descricao"
        p-clean
        p-label="Descrição"
      ></po-input>
    </div>

    <div class="po-row">
      <po-select
        class="po-md-4"
        formControlName="projetoId"
        p-label="Projeto"
        p-clean
        [p-options]="projetoSelectOptions"
      ></po-select>
    </div>
  </form>
</po-page-edit>
